<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Guia de Recolha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitAnswers()">
    <div *ngFor="let question of currentQuestions" class="question-container">
      <h2>{{ question.text }}</h2>
      <ion-textarea [(ngModel)]="question.answer" [name]="'question_' + question.id" rows="3" placeholder="Sua resposta"></ion-textarea>
    </div>

    <div class="navigation">
      <ion-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</ion-button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</ion-button>
    </div>

    <ion-button expand="block" type="submit" [disabled]="!isLastPage()">
      Enviar Respostas
    </ion-button>
  </form>
</ion-content>