<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="light">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <h1>Bem-Vindo</h1>
    <p>insira suas Credencias</p>
  </div>

  <div class="ion-margin-bottom">
    <ion-input label="E-mail" label-placement="floating" fill="outline" placeholder="email"></ion-input>
    <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Senha"></ion-input>
  </div>

  <div class="ion-text-center ion-margin-bottom">
    <a href="#" class="ion-text-primary">Recuperar Senha</a>
    <ion-button color="primary" expand="block" class="continue-b">Continuar</ion-button>
  </div>

  <ion-item-divider>
    <ion-label>Ou entrar com</ion-label>
  </ion-item-divider>

  <div class="sign-buttons ion-text-center ion-margin-bottom">
    <ion-button color="light" fill="outline"><ion-icon name="logo-google"></ion-icon></ion-button>
    <ion-button color="light" fill="outline"><ion-icon name="logo-linkedin"></ion-icon></ion-button>
    <ion-button color="light" fill="outline"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  </div>

  <div class="ion-text-center ion-margin-bottom">
    <ion-text>Já possui uma conta? <a href="#" class="ion-text-primary">Entrar</a></ion-text>
  </div>

  <div class="footer ion-text-center">
    <ion-text>Ao clicar em Criar conta, você concorda com os <a href="#" class="ion-text-primary">Termos de Uso</a> e a <a href="#" class="ion-text-primary">Política de Privacidade</a></ion-text>
  </div>
</ion-content>