ion-card {
    --background: var(--ion-color-input-background);
  }
  
  ion-card-header {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }
  
  ion-item {
    --background: transparent;
    --color: var(--ion-color-text);
  }
  
  ion-label {
    color: var(--ion-color-primary);
    font-weight: bold;
  }